html, body {
    height: 100%;
}

#main {
    padding-top: 3%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

.container {
    background-color: #111111;
    padding: 25px 2% 100px 2%;
    width: 91.66%;
    margin: 0 4.166% 25px 4.166%;
}

#player-infos {
    width: 15%;
}


#player-infos > div {
    width: 100%;
    height: 20%;
    border: 1px solid white;
}

#player-infos > div > div {
    height: 50%;
    width: 100%;
    border: 1px solid white;
    text-align: center;
}

#player-infos > div > div > h1 {
    margin: 0; /* Fuck bootstrap */
    font-family: 'Orbitron', sans-serif;
}

#player-infos > div > div > piece {
    height: 100%; 
    width: 20%; 
    position: static; /* Default */ 
}

#bughouseBoard > p {
    padding-top: 10px;
    text-align: center;
}

.jumbotron {
    background-color: inherit;
}
