#main {
    padding-top: 70px;
}

body {
    background-color: black !important;
    color: white;
}

#player-infos {
    border: 3px solid orange;
}

#player-infos > div > p {
	text-align: justify;
}
